<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <context-param>
    <param-name>encode</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <listener>
    <listener-class>pro.sunhao.listener.EasyMallServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>pro.sunhao.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>pro.sunhao.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>BackendFilter</filter-name>
    <filter-class>pro.sunhao.filter.BackendFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackendFilter</filter-name>
    <url-pattern>/backend/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>pro.sunhao.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiImageServlet</servlet-name>
    <servlet-class>pro.sunhao.web.ValiImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <servlet-class>pro.sunhao.web.AjaxCheckUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pro.sunhao.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>pro.sunhao.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageAddProdServlet</servlet-name>
    <servlet-class>pro.sunhao.backend.web.ManageAddProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdImageServlet</servlet-name>
    <servlet-class>pro.sunhao.web.ProdImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdListServlet</servlet-name>
    <servlet-class>pro.sunhao.web.ProdListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScreenListServlet</servlet-name>
    <servlet-class>pro.sunhao.web.ScreenListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageProdListServlet</servlet-name>
    <servlet-class>pro.sunhao.backend.web.ManageProdListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdInfoServlet</servlet-name>
    <servlet-class>pro.sunhao.web.ProdInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageDeleteProdServlet</servlet-name>
    <servlet-class>pro.sunhao.backend.web.ManageDeleteProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageUpdatePnumServlet</servlet-name>
    <servlet-class>pro.sunhao.backend.web.ManageUpdatePnumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>pro.sunhao.web.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserCartServlet</servlet-name>
    <servlet-class>pro.sunhao.web.UserCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiImageServlet</servlet-name>
    <url-pattern>/servlet/ValiImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <url-pattern>/servlet/AjaxCheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageAddProdServlet</servlet-name>
    <url-pattern>/servlet/ManageAddProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdImageServlet</servlet-name>
    <url-pattern>/servlet/ProdImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdListServlet</servlet-name>
    <url-pattern>/servlet/ProdListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScreenListServlet</servlet-name>
    <url-pattern>/servlet/ScreenListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageProdListServlet</servlet-name>
    <url-pattern>/servlet/ManageProdListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdInfoServlet</servlet-name>
    <url-pattern>/servlet/ProdInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageDeleteProdServlet</servlet-name>
    <url-pattern>/servlet/ManageDeleteProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageUpdatePnumServlet</servlet-name>
    <url-pattern>/servlet/ManageUpdatePnumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserCartServlet</servlet-name>
    <url-pattern>/servlet/UserCartServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>